POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=crime_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
AIRFLOW_UID=50000
ALERT_EMAIL=your_email@example.com
API_BASE_URL=https://data.cityofchicago.org/resource/ijzp-q8t2.json
